# appmon_config.env.example

# Switch configuration
SWITCH_IP="x.x.x.x"
USERNAME="switch-username"
PASSWORD="switch-password"

# ELK server upload URL
UPLOAD_FILE_URL="http://elk_server_ip:31175/upload"

# List of files to upload (space-separated)
UPLOAD_FILE_NAMES="enforcement_flow flow_record"

